.navbar{
   
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    z-index: 100;
    width: 100%;
    
    
}
.nav-menu-responsive{
    display: none;
}
.hamburger-react{
    display: none;
}

.nav-menu{
    position: fixed;
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    top: 60px;
    left: 50%;
    gap:60px;
    font-size: 16px;
    transform: translate(-50%, -50%);
    background-color: #10103C;
    padding: 15px 30px;
    border-radius: 10px;
    width: auto;
    font-family: 'Poppins';
    
}
.nav-menu button{
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    
}

@media screen and (max-width:767px){
    .nav-menu{
        display: none;
    
    }
    .nav-menu-responsive.hidden {
        display: none;
    }
    .nav-menu-responsive {
       
        position: fixed;
        align-items: left;
        list-style: none;
        display: flex;
        flex-direction: column;
        top: 80px;
        gap:10px;
        font-size: 16px;
        background-color: white;
        padding: 40px 0px;
        padding-bottom: 20px;
        border-radius: 10px;
        transition: ease-in 1s;
        width: 90%;
        margin-left: 18px;
      
        

    }
    .nav-menu-responsive li{
        padding-left: 30px;
        padding-bottom: 10px;
    }
    .nav-menu-responsive hr{
        margin: 0 25px;
        color: black;
        
    }
    .nav-menu-responsive .connectme{
        background: #10103C;
        border-radius: 10px;
        margin-top: 10px;
        padding: 10px 30px;
        color: white;
        
    }
    .hamburger-react{
        display: block;
        margin-bottom: 0;
        z-index: 100;
        position: absolute;
        left: 10px;
        top: 10px;
        
        
    }
    .nav-menu-responsive button{
        background: none;
        border: none;
        color: black;
        font-size: 16px;
        cursor: pointer;
        
    }
}